@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* work sans font added   top*/

/* common color  */
.primary-color {
    color: #727272;
    padding: 10px 0px;
}

.secondary-color {
    color: #FF900E;
    padding: 10px 0px;

}

.common-btn-color {
    background-color: #FF900E;
    border: none;
    padding: 20px 30px;
    border-radius: 5px;
    color: #FFFFFF;
}

/* common color  */
* {
    margin: 0;
}

.nav-top {
    max-width: 1920px;
    background-color: #ff8f0e1f;
    padding: 20px;
}

.nav-container {
    display: flex;
    width: 84%;
    justify-content: space-between;
    margin: 0 auto;

}

.links {
    display: flex;
    gap: 40px;
}

.links li {
    list-style: none;

}

.intro {
    width: 84%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
}

.intro>h1 {
    font-size: 4rem;
    width: 65%;
    margin: 0 auto;
}

.intro>p {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.banner-img {
    width: 85%;
    margin: 0 auto;
}

.banner-img img {
    width: 100%;
}


/* main section start   */
main {
    width: 100%;
    max-width: 1440px;
    margin: 20px auto;
}

.btn-w {
    padding: 10px 15px;
}

.features {
    display: flex;
    width: 80%;
    margin: 0 auto;

}

.features>div {
    width: 50%;
}

.features img {
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}

.features img:hover {
    border: 1px solid gray;
}

.section-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.section-2 {
    display: flex;
    align-items: center;
    padding: 20px;
}

.text {
    margin: 20px;
}

/* header section complete   */
@media screen and (max-width:576px) {

    .links {
        justify-content: space-evenly;
        padding: 10px;

    }

    .links:hover {
        background-color: #FF900E;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;

    }

    .nav-container h1 {
        text-align: center;
        font-size: 1.5rem;
        background-color: chartreuse;
        padding: 10px 5px;
        border-radius: 5px;
    }

    .intro {
        width: 100%;
        text-align: center;
        padding: 10px;
        padding-top: 20px;
    }

    .intro>h1 {
        font-size: 2rem;
        width: 100%;

    }

    .common-btn-color {
        background-color: #FF900E;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
    }

    /* main content responsive style */
    .section-1 {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .section-1 img {
        margin: 10px;

    }

    .features {
        flex-direction: column-reverse;
    }

    .features>div {
        width: 100%;
    }

    .text {
        width: 80%;
    }

    .section-1>div {
        width: 90%;
        margin: 0 auto;
    }

}